/* Styles pour le conteneur de la barre de navigation */
#navbar-container {
    display: flex; /* Utiliser flexbox */
    justify-content: space-between; /* Espacement égal entre les éléments */
    align-items: center; /* Centrer verticalement les éléments */
    padding: 10px; /* Ajouter un peu d'espacement */
}

/* Styles pour le logo de la navbar */
#navbar-logo-container img {
    width: 50px; /* Définir une largeur pour l'image */
    height: auto; /* Hauteur automatique pour conserver les proportions */
}

/* Styles pour les liens de la navbar */
#navbar-links a {
    color: #333; /* Couleur du texte */
    text-decoration: none; /* Supprimer le soulignement des liens */
}
