* {
    font-size: 12px; /* Taille de la police */
    color: #333; /* Couleur du texte */
    text-decoration: none; /* Supprimer le soulignement des liens */
}

p {
    text-align: center; /* Centrer le contenu */
}

/* NAVBAR */
#navbar {
    display: flex; /* Utiliser flexbox */
    justify-content: space-between; /* Espacement égal entre les éléments */
    align-items: center; /* Centrer verticalement les éléments */
    padding: 10px; /* Ajouter un peu d'espacement */
}

/* LOGO NAVBAR */
#navbar-logo img {
    width: 50px; /* Définir une largeur pour l'image */
    height: auto; /* Hauteur automatique pour conserver les proportions */
}

/* INTRO */
#intro {
    display: flex; /* Utiliser flexbox */
    justify-content: center; /* Centrer horizontalement les éléments */
    align-items: center; /* Centrer verticalement les éléments */
}

/* GAME SECTION */
#section-jeux {
    display: flex; /* Utiliser flexbox */
    justify-content: center; /* Centrer horizontalement les éléments */
    align-items: center; /* Centrer verticalement les éléments */
}

/* Images GAME SECTION  */
#section-jeux img {
    height: 100px;
    border-radius: 10%; /* Appliquer un rayon de bordure pour créer des coins arrondis */
    text-align: center; /* Centrer le contenu */
    margin: 10px;
}



/*
.blink {
    visibility: hidden;
}
#section-jeux {
    text-align: center;
    margin-top: 20vh;
}
p {
    font-size: 24px;
    color: #333; 
}   
#navbar-links a {
    color: #333; 
    text-decoration: none;
} 
*/